
.container-table{
    width: 100%;
}

.table{
    width:100%;
    th{
        background-color:black;
        padding: 5px;
        width: max-content;
        
    }
    td{
        font-size: 14px;
        text-align: left;
    }
}